<%= render(:partial => "concepts.js", :collection => @concepts_to_learn) %> 



<div class="learn-page">
    <% @concepts_to_learn.each_with_index do |concept, index| %>
        <div class="concept-card concept-hidden" data-position="<%= index %>">
            <p class="lead"><%= concept.question %></p>
            <p class="answer"><%= concept.answer %></p>
            <p class="show-answer"><button class="btn btn-lg btn-default show-answer-button" href="#" role="button">Show Answer</button></p>
            <div class="response-quality-options">
              <button type="button" class="btn btn-danger forgot-btn<%= concept.id %>" href="#" role="button">Forgot</button>
              <button type="button" class="btn btn-warning barely-btn<%= concept.id %>" href="#" role="button">Barely</button>
              <button type="button" class="btn btn-success easy-btn<%= concept.id %>" href="#" role="button">Easy</button>
            </div>
        </div>
    <% end %>

    <div class="concept-next">
        <span class="glyphicon glyphicon-circle-arrow-right concept-next-button"></span>
    </div>
    <% starting_position = @concepts_to_learn.size == 0 ? 0 : 1 %>
    <p class="position-viewer"><span class="current-position"><%= starting_position %></span>/<%= @concepts_to_learn.size %></p>
</div>

<div class="manage-page">
    <div class="concept-edit">
        <form role="form" id="new-concept-form">
            <div class="form-group">
                <label for="question">Question</label>
                <input type="text" class="form-control" id="question" name="question" placeholder="How many feet make a mile?">
            </div>
            <div class="form-group">
                <label for="answer">Answer</label>
                <input type="text" class="form-control" id="answer" name="answer" placeholder="5,280">
            </div>
            <button type="submit" class="btn btn-success new-concept">Create Card</button>
        </form>
    </div>
    <% @concepts.each do |concept| %>
        <div class="concept-edit" data-id="<%= concept.id %>">
            <div class="concept-qa">
                <p><strong>Question</strong></p><p><%= concept.question %></p>
                <p><strong>Answer</strong></p><p><%= concept.answer %></p> 
            </div>
            <button class="btn btn-danger delete-concept" href="#" role="button">Delete</button>
        </div>
    <% end %>
</div>

<script type='text/javascript'>
<% @concepts_to_learn.each_with_index do |concept, index| %>
    $('.forgot-btn<%= concept.id %>').click(function(event) {
      event.preventDefault();
      $(this).parent().hide();
      $(this).parent().parent().children('.show-answer').show()
      $(this).parent().parent().children('.answer').hide()
    });
    $('.barely-btn<%= concept.id %>').click(function(event) {
      event.preventDefault();
      $.ajax({
          type: "PUT",
          url: "/concepts/"+<%= concept.id %>,
          data: "authenticity_token="+AUTH_TOKEN+"&response_quality=4",
          success: function(){
            console.log('success');
          },
          error: function(){
            console.log('error');
          }
      });
    });
    $('.easy-btn<%= concept.id %>').click(function(event) {
      event.preventDefault();
      $.ajax({
          type: "PUT",
          url: "/concepts/"+<%= concept.id %>,
          data: "authenticity_token="+AUTH_TOKEN+"&response_quality=5",
          success: function(){
            console.log('success');
          },
          error: function(){
            console.log('error');
          }
      });
    });
<% end %>
</script>
