<%= render(:partial => "concepts.js", :collection => @concepts_to_learn) %> 

<div class="learn-page">
    <% @concepts_to_learn.each_with_index do |concept, index| %>
        <div class="concept-card concept-hidden" data-position="<%= index %>">
            <p class="lead"><%= concept.question %></p>
            <p class="answer"><%= concept.answer %></p>
            <p class="show-answer"><button class="btn btn-lg btn-default show-answer-button" href="#" role="button">Show Answer</button></p>
            <div class="response-quality-options">
              <button class="btn btn-danger" id="incorrect-btn<%= concept.id %>" href="#" role="button">Incorrect</button>
              <button class="btn btn-warning" id="guess-btn<%= concept.id %>" href="#" role="button">Correct Guess</button>
              <button class="btn btn-info" id="hesitant-btn<%= concept.id %>" href="#" role="button">Correct with Hesiation (<%= @forcast_hash[concept.id][4] %> days)</button>
              <button class="btn btn-success" id="easy-btn<%= concept.id %>" href="#" role="button">Easy (<%= @forcast_hash[concept.id][5] %> days)</button>
            </div>
        </div>
    <% end %>

    <div class="concept-next">
        <span class="glyphicon glyphicon-circle-arrow-right concept-next-button"></span>
    </div>
    <% starting_position = @concepts_to_learn.size == 0 ? 0 : 1 %>
    <p class="position-viewer"><span class="current-position"><%= starting_position %></span>/<%= @concepts_to_learn.size %></p>
</div>

<div class="manage-page">
    <div class="concept-edit">
        <form role="form" id="new-concept-form">
            <div class="form-group">
                <label for="question">Question</label>
                <textarea type="text" class="form-control" id="question" name="question" placeholder="What is memoization?" rows="2"></textarea>
            </div>
            <div class="form-group">
                <label for="answer">Answer</label>
                <textarea type="text" class="form-control" id="answer" name="answer" placeholder="An optimization that caches the results of functions without side effects to avoid computation costs." rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-success new-concept">Create Concept</button>
        </form>
    </div>
    <% @concepts.each do |concept| %>
        <div class="concept-edit" data-id="<%= concept.id %>">
            <div class="concept-qa">
                <p><strong>Question</strong></p><p><%= concept.question %></p>
                <p><strong>Answer</strong></p><p><%= concept.answer %></p> 
            </div>
            <button class="btn btn-danger delete-concept" href="#" role="button">Delete</button>
        </div>
    <% end %>
</div>

<div class="about-page">
  <div class="jumbotron">
    <h1>Yaad</h1>
    <p>Enjoy the benefits of spaced repition learning.</p>
  </div> 
  <div class="bs-callout bs-callout-info">
    <h2>How do I use Yaad?</h2>
    <p>
    Every time you load Yaad, you will receieve up to 10 concepts to learn, each created by you.
    Each concept presents you with a question (be it a term to define, a math problem to solve, 
    or an image to recall the word for) and it is your job to try to answer it. Once you are ready
    to see the solution, click <i>Show Answer</i>. You are then presented with four choices to
    record if your answer was correct and to give your confidence when answering. This information
    is used by the learning algorithm to determine the optimal time to ask a question again. When
    you have completed all the concepts provided, press the <i>New Concepts</i> button to get a new set.
    </p>
    <p>
    To add or delete concepts, click the <i>manage</i> tab. To add concepts, type in a question and
    answer in the top left card and click <i>Create Concept</i>. To delete concepts, simply click the
    <i>Delete</i> button for the relevant concept card.
    </p>
  </div>
  <div class="bs-callout bs-callout-info">
    <h2>Why should I use Yaad?</h2>
    <p>
    It has been shown in much academic research that repetition based learning over increments of time
    following certain statistical distributions will help people learn most effectively. Put in simpler
    terms, if you are shown a particular concept over a certain interval, you will learn it really well.
    Yaad uses the SM-2 algorithm to achieve this. By using Yaad, you will more quickly commit concepts
    to both your long-term and short-term memory.
    </p>
  </div>
  <div class="bs-callout bs-callout-info">
    <h2>When should I use Yaad?</h2>
    <p>
    Yaad is useful to review any time, but you can really benefit from using it during short periods of
    downtime. Get to class early? Got time to kill on the bus? Waiting for water to boil? Using your phone
    in the bathroom? These are all perfect times for a quick review.
    </p>
    <p>
    As far as things you can review goes, the sky is the limit. You might be reading a technical book and
    want to remember a term you encountered for more than the next five minutes. Same goes for studying a
    foreign language or history book. Maybe you are trying to remember common functions in a programming
    language. You might even be trying to review examples of different types of physics problems.
    </p>
  </div>
</div>

<script>
$('.new-concept').click(function(e) {
    e.preventDefault();
    $.ajax({
        type: "POST",
        url: "/concepts/",
        beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        data: $('#new-concept-form').serialize(),
        success: function(text) {
            $('.manage-page').append(' \
                <div class="concept-edit" data-id="' + text + '"> \
                    <div class="concept-qa"> \
                        <p><strong>Question</strong></p><p>' + $("#question").val() + '</p> \
                        <p><strong>Answer</strong></p><p>' + $("#answer").val() + '</p> \
                    </div> \
                    <button class="btn btn-danger delete-concept" href="#" role="button">Delete</button> \
                </div> \
            ');
            deleteConceptBind();
            $("#question").val('');
            $("#answer").val('');
        },
        error: function() {
          alert("This concept could not be saved.");
        }
    });
});

$('.show-answer-button').click(function(event) {
    event.preventDefault();
    $(this).parent().parent().children('.answer').show();
    $(this).parent().hide();
    $(this).parent().parent().children('.response-quality-options').show();
});

function deleteConceptBind() {
    $('.delete-concept').unbind().click(function(e) {
        e.preventDefault();
        $.ajax({
            type: "DELETE",
            url: "/concepts/"+$(this).parent().data('id'),
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
        });
        $(this).parent().hide("slow", function(){ $(this).remove(); });
    });
};

deleteConceptBind();

function responseAjaxCall(conceptId,responseQuality){
      $.ajax({
          type: "PUT",
          url: "/concepts/"+conceptId,
          beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
          data: "response_quality="+responseQuality,
          success: function(){
            console.log('success');
          },
          error: function(){
            console.log('error');
          }
      });
};

function toggleButtons(buttonId){
      $(buttonId).parent().hide();
      $(buttonId).parent().parent().children('.show-answer').show()
      $(buttonId).parent().parent().children('.answer').hide()
};

var current_position = 0;
var total_count = <%= @concepts_to_learn.present? ? @concepts_to_learn.size : 0 %>;
var concepts_completed = 0;

$('.concept-card').first().show();

function nextConcept() {
    if (concepts_completed == total_count) {
      alert('You have completed all the concepts due today.');
      concepts_completed = 0;
    }
    $('*[data-position="' + current_position + '"]').hide(); 
    if(current_position < total_count -1) {
        current_position += 1;
    }
    else {
        current_position = 0;
    }
    if( total_count > 0) {
      $('.current-position').html(current_position+1);
    }
    $('*[data-position="' + current_position + '"]').show(); 
    console.log($('*[data-position="' + current_position + '"]'));
};

$('.concept-next-button').click(nextConcept);

function clickEventsForResponseButtons(conceptId, responseQuality){
    event.preventDefault();
    if ( parseInt(responseQuality) < 4 ) {
        toggleButtons('#incorrect-btn' + conceptId);
    } else {
        responseAjaxCall(conceptId, responseQuality);
        $('#incorrect-btn' + conceptId).parent().children().prop("disabled",true);
    }
    nextConcept();
};

<% @concepts_to_learn.each_with_index do |concept, index| %>
    $('#incorrect-btn<%= concept.id %>').click(function(event) {
        clickEventsForResponseButtons(<%= concept.id %>, '0');
    });
    $('#guess-btn<%= concept.id %>').click(function(event) {
        clickEventsForResponseButtons(<%= concept.id %>, '3');
    });
    $('#hesitant-btn<%= concept.id %>').click(function(event) {
        concepts_completed++;
        clickEventsForResponseButtons(<%= concept.id %>, '4');
    });
    $('#easy-btn<%= concept.id %>').click(function(event) {
        concepts_completed++;
        clickEventsForResponseButtons(<%= concept.id %>, '5');
    });
<% end %>
</script>
